[Unit]
Description=Haltman.io - Mail Forwarding Ask
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/mail-forwarding-ask

#Environment=ALLOWLIST_PATH=/etc/mail-forwarding/allowed_domains.txt
EnvironmentFile=/etc/mail-forwarding/ask.env

ExecStart=/usr/bin/node /opt/mail-forwarding-ask/server.js
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target